.archive,
.search-results {
    .page-header {
        padding: ms(4) ms(0) ms(7);
        margin: 0 0 ms(4);
        border-bottom: 4px solid $color__border-base;
        text-align: center;
        color: $color__text-soft;
        .page-title {
            font-size: ms(2);
            color: $color__text-softer;
            margin: 0;
        }
        .page-description {
            font-style: italic;
            font-size: ms(-2);
            letter-spacing: ms(-15);
            p {
                margin: ms(-4) 0 0;
            }
        }
    }
}

.blog-archive-content {

    .site-main {
        overflow: hidden;
        background: $color__background-body;
    }

    .section-image {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        //@include animation(fadein-images 1s ease-out backwards, image-pulse 15.0s ease-in-out infinite alternate);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    article {
        @include animation(fadein 2s ease-out backwards);
        position: relative;
        width: 50%;
        height: 32vw;
        margin: 0;
        padding: 0;
        float: left;
        border-bottom: 0;

        overflow: hidden;

        @include respondTo(upto-medium) {
            width: 100%;
            height: 100vh;
            float: none;
        }

        &:last-child {
            clear: right;
        }

        .section-inner {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            width: 100%;
            @include transition(width 0.4s ease-in-out);
            @include respondTo(atleast-medium) {
            }
        }

        .entry-header {
            padding: 0 ms(0);
            margin: 0 auto;
            max-width: ms(18);
            font-size: ms(-2);
            text-align: center;

            @include respondTo(atleast-extra-wide) {
                font-size: ms(-1);
            }

            @include respondTo(upto-medium) {
                font-size: ms(0);
            }

            .entry-title {
                margin-top: 0;
                margin-bottom: ms(-6);
                a {
                    text-decoration: none;
                    color: $color__base;
                    &:hover {
                        color: $color__titlelink-hover;
                    }
                }
            }
        }

    }

    .posts-navigation {
        padding: ms(0);
        margin: ms(0) auto 0;
        max-width: ms(18);
    }
}